%br/
%br/
%br/
.container
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %td Filter
        %td Photo
        %td Title
        %td Property type
        %td Address
        %td Flooring
        %td Gross area
        %td Saleable area
        %td Price
        %td Rent
        %td Post date
    %tbody
      - counter = 0
      - @properties.each do |prop|
        %tr
          - if counter == 0
            %td{ rowspan: @properties.length}
              %form#search-form.search-form.clearfix{:action => map_properties_path(list_view:'true'), :autocomplete => "off", :method => "get", style: 'width: 300px;'}
                %input{type: 'hidden', name: 'list_view', value: 'true'}/
                .input-group.input-group-lg.form-section.col-md-12
                  %input#tags.form-control{:name => "address", :placeholder => "Search property", :type => "search"}/
                .row
                  %p
                    %span.intro-label Listing type
                    %br/
                    = select_tag :listing_type, options_for_select(['', 'Sale', 'Rent'])
                  %p
                    %span.intro-label Property type
                    %br/
                    = select_tag :property_type, options_for_select(['', 'Shops', 'Industrial', 'Commercial', 'Residential', 'Parking', 'Land'])
                  %p
                    %span.intro-label No. of rooms
                    %br/
                    %select.mini-select{:name => "no_of_rooms"}
                      %option{:value => "1"} 1
                      %option{:value => "2"} 2
                      %option{:value => "3"} 3
                      %option{:value => "4"} 4
                      %option{:value => "5"} 5
                      %option{:value => "6"} 6
                      %option{:value => "7"} 7
                      %option{:value => "8"} 8
                      %option{:value => "9"} 9
                  %p
                    %span.intro-label Budget (HK $)
                    %br/
                    %input.mini{:name => "from_budget", :placeholder => "From", :type => "search"}/
                  %p
                    %input.mini{:name => "to_budget", :placeholder => "To", :type => "search"}/
                  %p
                    = submit_tag "Search", class: 'btn btn-success', style: 'width: auto'                    
          - counter += 1
          %td= link_to(image_tag( prop.property_images.first.photo.url, class: 'img-thumbnail'), prop) if prop.property_images.length > 0
          %td= link_to prop.title, prop
          %td= prop.property_type
          %td= prop.address
          %td= prop.flooring
          %td= prop.gross_area
          %td= prop.saleable_area
          %td= prop.price
          %td= prop.rent
          %td= prop.created_at.to_s(:long)
