%h1 Listing admin_contacts

%table
  %tr
    %th Email
    %th Name
    %th Contact no
    %th Message
    %th
    %th
    %th

  - @admin_contacts.each do |admin_contact|
    %tr
      %td= admin_contact.email
      %td= admin_contact.name
      %td= admin_contact.contact_no
      %td= admin_contact.message
      %td= link_to 'Show', admin_contact
      %td= link_to 'Edit', edit_admin_contact_path(admin_contact)
      %td= link_to 'Destroy', admin_contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Admin contact', new_admin_contact_path
